<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>错误...</title>
<link rel="shortcut icon" href="http://example.com/myicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
	body,td{font-family:Verdana; font-size:14px; line-height:1.6}
</style>
</head>
<body>
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" style="margin-top:100px;">
  <tr>
    <td><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="11" height="40"><img src="static/img/voice/left_top_corner.gif" width="11" height="40"></td>
        <td background="static/img/voice/top_border.gif">&nbsp;</td>
        <td width="11"><img src="static/img/voice/right_top_corner.gif" width="11" height="40"></td>
      </tr>
      <tr>
        <td bgcolor="#F9F9F9" style="border-left:1px solid #C2C2C2">&nbsp;</td>
        <td bgcolor="#F9F9F9" style="padding:15px;"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="130" valign="top" style="padding-top:15px "><img src="static/voice/icon.gif" width="110" height="157"></td>
             <td valign="top"><div align="center" style="color:#CC0000;font-size:20px;"><strong>提示信息</strong></div>
			<div style="padding:5px 5px 10px 5px"> <h1 th:text="${resultMap.resultMsg}"></h1></div>
			<br><br><div align="right"><a href="/zx/index" target="_top">返回登录界面</a>	
			</div></td>
          </tr>
        </table></td>
        <td bgcolor="#F9F9F9" style="border-right:1px solid #C2C2C2">&nbsp;</td>
      </tr>
      <tr>
        <td valign="bottom"><img src="static/img/voice/left_bottom_corner.gif" width="11" height="20"></td>
        <td height="20" background="static/img/voice/bottom_border.jpg" bgcolor="#F9F9F9"></td>
        <td valign="bottom"><img src="static/img/voice/right_bottom_corner.gif" width="11" height="20"></td>
      </tr>
    </table></td>
  </tr>
</table>

</body>
</html>