<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HYHG网站</title>
    

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
	<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
   	<script src="/static/js/echarts.min.js"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
        .time1{width:100%; height:50px;  line-height:50px; text-align:center;}
    </style>

     <script language="javascript">
		     var t = null;
		    t = setTimeout(time,1000);//开始执行
		    function time()
		    {
		       clearTimeout(t);//清除定时器
		       dt = new Date();
		var y=dt.getYear()+1900;
		var mm=dt.getMonth()+1;
		var d=dt.getDate();
		var weekday=["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
		var day=dt.getDay();
		       	var h=dt.getHours();
		       	var m=dt.getMinutes();
		       	var s=dt.getSeconds();
		if(h<10){h="0"+h;}
		if(m<10){m="0"+m;}
		if(s<10){s="0"+s;}
		       	document.getElementById("timeShow").innerHTML =  y+"年"+mm+"月"+d+"日"+weekday[day]+" "+h+":"+m+":"+s+"";
		       	t = setTimeout(time,1000); //设定定时器，循环执行           
		    }
	</script>
	<script languagetype="javascript">
	/* 鼠标特效 */
	var a_idx = 0;
	jQuery(document).ready(function($) {
    	$("body").click(function(e) {
	       var a = new Array("❤富强❤","❤民主❤","❤文明❤","❤和谐❤","❤自由❤","❤平等❤","❤公正❤","❤法治❤","❤爱国❤","❤敬业❤","❤诚信❤","❤友善❤");
 	       var $i = $("<span></span>").text(a[a_idx]);
	       a_idx = (a_idx + 1) % a.length;
 	       var x = e.pageX,
 	       y = e.pageY;
    	    $i.css({
    	        "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
    	        "top": y - 20,
     	       "left": x,
   	         "position": "absolute",
     	       "font-weight": "bold",
     	       "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
     	   });
     	   $("body").append($i);
     	   $i.animate({
      	      "top": y - 180,
     	       "opacity": 0
     	   },
       	 1500,
      	  function() {
       	     $i.remove();
        		});
    		});
		});
    </script>
</head>
<body>
	
	   <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    <li>  <a class="tools"><img class="iconTools" src="/static/voice/clock.png"></a> </li>
                    <li class="hidden-phone visible-tablet visible-desktop">
	                    <a class="tools">
	                    	<div id="timeShow" class="tools"></div>
	                    </a>
                    </li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        	<span th:text="${uesrMap.name}"></span>
                           <!--  <i class="icon-user" ></i>
                            <i class="icon-caret-down"></i> -->
                        </a>
                        
                        <ul class="dropdown-menu">
	                        <li>
		                        <form id="user" action="/zx/findUserList" method="post">       
		                         	<button> <a>个人中心</a></button>
						            <input hidden="test" name="id"  th:value="${uesrMap.id}" >
						        </form>
                            </li>
                            
                            <!-- <li class="divider"></li> -->
                            <li><a tabindex="-1" href="/zx/index">退出</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="#"><span class="first">HYHG</span> <span class="second">网站</span></a>
        </div>
    </div>	 
	
	<div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="Search...">
        </form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>首页</a>
	        <ul id="dashboard-menu" class="nav nav-list collapse in">
	             <li>
	            	<form id="user" action="/zx/findUserList" method="post">       
                    	<button> <a>个人中心</a></button>
			            <input hidden="test" name="id"  th:value="${uesrMap.id}" >
			        </form>
				</li>
	        </ul>

        <!-- <a href="#table-menu" class="nav-header" data-toggle="collapse"><i class="icon-table"></i>主菜单</a>
	        <ul id="table-menu" class="nav nav-list collapse">
	            <li ><a href="/WirelessOrder/table.do?flag=table">主菜单管理</a></li>
	        </ul> -->

        <a href="#menu-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-reorder"></i>商品</a>
	        <ul id="menu-menu" class="nav nav-list collapse">
		        <li >
		        	<form id="menu" action="/zx/findMenuList" method="post">       
	                		<button> <a>商品管理</a></button>
			           		<input hidden="test" name="id"  th:value="${uesrMap.id}" >
			           		<input hidden="test" name="name"  th:value="${uesrMap.name}" >
			           		<input hidden="test" name="state"  th:value="${uesrMap.state}" >
			           		<input hidden="test" name="start"  th:value="0" >
			           		<input hidden="test" name="limit"  th:value="10" >
					</form>
		          <!-- <li ><a href="/zx/findMenuList">菜谱管理</a></li> -->
		         </li>
	        </ul>

        <a href="#order-menu" class="nav-header" data-toggle="collapse"><i class="icon-th-large"></i>订单</a>
	        <ul id="order-menu" class="nav nav-list collapse">
	            <li >
	            	<form id="order" action="/zx/findOrderList" method="post">       
	                		<button> <a>订单管理</a></button>
			           		<input hidden="test" name="id"  th:value="${uesrMap.id}" >
			           		<input hidden="test" name="name"  th:value="${uesrMap.name}" >
			           		<input hidden="test" name="state"  th:value="${uesrMap.state}" >
			           		<input hidden="test" name="start"  th:value="0" >
			           		<input hidden="test" name="limit"  th:value="8" >
					</form>
	            </li>
	        </ul>
    </div>
    
    
   
   
    <div class="content">
        
        <div class="header">
            <h1 class="page-title">首页</h1>
        </div>
        
          <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li class="active">报表</li>
          </ul>

        <div class="container-fluid">
            <div class="row-fluid">
				<div class="row-fluid">
	
	    			<!-- <div class="alert alert-info">
	       			 <button type="button" class="close" data-dismiss="alert">×</button>
	       				<strong>小提示：</strong> 还有 x 桌客人没有结账哦！
	  	 		    </div> -->
				</div>
	
				<div class="row-fluid">
		    		<div class="block span6">
		        		<a href="#tablewidget" class="block-heading" data-toggle="collapse">今日</a>
		        		<div id="tablewidget" class="block-body collapse in">
						            <table class="table">
						             <div id="mainDate" style="width: 500px; height:400px;"></div>
										 <script >
										 $(document).ready(function (){
											 var mainDate = echarts.init(document.getElementById('mainDate'));
											    //显示加载动画
											    mainDate.showLoading();
											    $.ajax({
											        type:"POST",
											        cache:false,
											        url:"/zx/rcbchart",
											        data:{"scrq1": "1","scrq2": "1","dwmc": "1"},
											        dataType: "json",
											        success:function (result) {
											            var valuedata = result.valuedata1;
											            var categorydata = result.categorydata1;
											            //隐藏加载动画
											            mainDate.hideLoading();
											            mainDate.setOption({
											                //提示框组件
											                tooltip: {
											                    trigger: 'axis',
											                    axisPointer: {
											                        type: 'shadow'
											                    }
											                },
											                //直角坐标系内绘图网格，left，right，bottom分别是距离容器左侧，右侧和底部的距离
											                grid: {
											                    left: '3%',
											                    right: '4%',
											                    bottom: '3%',
											                    containLabel: true
											                },
											                //X轴
											                xAxis: {
											                    type: 'value',
											                    boundaryGap: [0, 0.01]
											                },
											                //Y轴
											                yAxis: {
											                    type: 'category',
											                    data: categorydata
											                },
											                series: [
											                    {
											                        name: result.dwmc,
											                        type: 'bar',
											                        data: valuedata
											                    }
											                ]
											            })
											        }
											    })
										 });
										 </script>
										
										
						            </table>
				           			<p><a href="http://www.baidu.com.com">更多...</a></p>
				       	</div>
				    </div>
		  			<div class="block span6">
		      		<a href="#tablewidget" class="block-heading" data-toggle="collapse">上月</a>
		      		<div id="tablewidget" class="block-body collapse in">
			            	 <table class="table">
						             <div id="main" style="width: 500px; height:400px;"></div>
										 <script >
										 $(document).ready(function (){
											 var main = echarts.init(document.getElementById('main'));
											    //显示加载动画
											    main.showLoading();
											    $.ajax({
											        type:"POST",
											        cache:false,
											        url:"/zx/rcbchart",
											        data:{"scrq1": "2","scrq2": "2","dwmc": "2"},
											        dataType: "json",
											        success:function (result) {
											            var valuedata = result.valuedata2;
											            var categorydata = result.categorydata2;
											            //隐藏加载动画
											            main.hideLoading();
											            main.setOption({
											                //提示框组件
											                tooltip: {
											                    trigger: 'axis',
											                    axisPointer: {
											                        type: 'shadow'
											                    }
											                },
											                //直角坐标系内绘图网格，left，right，bottom分别是距离容器左侧，右侧和底部的距离
											                grid: {
											                    left: '3%',
											                    right: '4%',
											                    bottom: '3%',
											                    containLabel: true
											                },
											                //X轴
											                xAxis: {
											                    type: 'value',
											                    boundaryGap: [0, 0.01]
											                },
											                //Y轴
											                yAxis: {
											                    type: 'category',
											                    data: categorydata
											                },
											                series: [
											                    {
											                        name: result.dwmc,
											                        type: 'bar',
											                        data: valuedata
											                    }
											                ]
											            })
											        }
											    })
										 });
										 </script>
										
										
						            </table>
			            <p><a href="http://www.baidu.com">更多...</a></p>
		        	</div>
	  			</div>
			   
				</div>
		
				<div class="row-fluid">
					    <div class="block span6">
					        <a href="#tablewidget" class="block-heading" data-toggle="collapse">本月</a>
					        <div id="tablewidget" class="block-body collapse in">
					          		 <table class="table">
						             <div id="mainAll" style="width: 500px; height:400px;"></div>
										 <script >
										 $(document).ready(function (){
											 var main = echarts.init(document.getElementById('mainAll'));
											    //显示加载动画
											    main.showLoading();
											    $.ajax({
											        type:"POST",
											        cache:false,
											        url:"/zx/rcbchart",
											        data:{"scrq1": "3","scrq2": "3","dwmc": "3"},
											        dataType: "json",
											        success:function (result) {
											            var valuedata = result.valuedata3;
											            var categorydata = result.categorydata3;
											            //隐藏加载动画
											            main.hideLoading();
											            main.setOption({
											                //提示框组件
											                tooltip: {
											                    trigger: 'axis',
											                    axisPointer: {
											                        type: 'shadow'
											                    }
											                },
											                //直角坐标系内绘图网格，left，right，bottom分别是距离容器左侧，右侧和底部的距离
											                grid: {
											                    left: '3%',
											                    right: '4%',
											                    bottom: '3%',
											                    containLabel: true
											                },
											                //X轴
											                xAxis: {
											                    type: 'value',
											                    boundaryGap: [0, 0.01]
											                },
											                //Y轴
											                yAxis: {
											                    type: 'category',
											                    data: categorydata
											                },
											                series: [
											                    {
											                        name: result.dwmc,
											                        type: 'bar',
											                        data: valuedata
											                    }
											                ]
											            })
											        }
											    })
										 });
										 </script>
										
										
						            </table>
					            <p><a href="http://www.baidu.com.com">更多...</a></p>
					        </div>
					    </div>
					    <div class="block span6">
					        <a href="#tablewidget" class="block-heading" data-toggle="collapse">全年</a>
					        <div id="tablewidget" class="block-body collapse in">
			              		 <table class="table">
						             <div id="mains" style="width: 500px; height:400px;"></div>
										 <script >
										 $(document).ready(function (){
											 var main = echarts.init(document.getElementById('mains'));
											    //显示加载动画
											    main.showLoading();
											    $.ajax({
											        type:"POST",
											        cache:false,
											        url:"/zx/rcbchart",
											        data:{"scrq1": "4","scrq2": "4","dwmc": "4"},
											        dataType: "json",
											        success:function (result) {
											            var valuedata = result.valuedata4;
											            var categorydata = result.categorydata4;
											            //隐藏加载动画
											            main.hideLoading();
											            main.setOption({
											                //提示框组件
											                tooltip: {
											                    trigger: 'axis',
											                    axisPointer: {
											                        type: 'shadow'
											                    }
											                },
											                //直角坐标系内绘图网格，left，right，bottom分别是距离容器左侧，右侧和底部的距离
											                grid: {
											                    left: '3%',
											                    right: '4%',
											                    bottom: '3%',
											                    containLabel: true
											                },
											                //X轴
											                xAxis: {
											                    type: 'value',
											                    boundaryGap: [0, 0.01]
											                },
											                //Y轴
											                yAxis: {
											                    type: 'category',
											                    data: categorydata
											                },
											                series: [
											                    {
											                        name: result.dwmc,
											                        type: 'bar',
											                        data: valuedata
											                    }
											                ]
											            })
											        }
											    })
										 });
										 </script>
						            </table>
			            <p><a href="http://www.baidu.com.com">更多...</a></p>
			       		 </div>
			   			 </div>
			   
					</div> 
			    <footer>
	             <hr>
	             <p class="pull-right">&copy; 2013.8 <a href="#" > HYHG_1.0.0</a></p>
		     </footer>
		    </div>
        </div>
    </div>
  
</body>
</html>