<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mvtech.mapper.OrderMapper">
	<select id="findOrderList"  parameterType="Map" resultType = "Map">
		select id,productId,productName,productPrice,productPrices,size,
			   num,userId,userName,isCancel,crateTime,updateTime
		from productOrder 
		<where>
			userId = #{id}
			and userName = #{name}
			and isDel = 0
		</where>
		ORDER BY crateTime DESC
		limit #{start},#{limit}
	</select>
	
	<select id="findOrderListAll"  resultType = "Map" parameterType="Map">
		select id,productId,productName,productPrice,productPrices,size,
			   num,userId,userName,isCancel,crateTime,updateTime
		from productOrder 
		<where>
			 isDel = 0
		</where>
		ORDER BY crateTime DESC
		limit #{start},#{limit}
	</select>
	
	<select id="findCountOrderListAll"  resultType = "int" parameterType="Map">
		select count(1)
		from productOrder 
		<where>
			 isDel = 0
		</where>
	</select>
	
	<select id="findCountOrderList"  resultType = "int" parameterType="Map">
		select count(1)
		from productOrder 
		<where>
			userId = #{id}
			and userName = #{name}
			and isDel = 0
		</where>
	</select>
	
	
	<insert id = "addOrder" parameterType="Map">
		INSERT INTO productOrder (
			productId,productName,productPrice,productPrices,
			size,num,userId,userName,isDel,isCancel,crateTime,updateTime
		)
		VALUES
			(#{productId},#{productName},#{productPrice},#{productPrices},
			#{size},#{num},#{userId},#{userName},0,0,now(),now())
	</insert>
	
	<select id="findMenuMap"  parameterType="Map" resultType = "Map">
		select id,name,price,remark,imgUrl,imgName
		from menu 
		<where>
			id=#{id}
			and isDel = 0
		</where>
	</select>
	
	<update id = "delOrderById" parameterType = "Map">
		update productOrder
		<set>
			isDel=1,
			updateTime = now()
		</set>
		where id = #{orderId}
	</update>
	
	<select id="findAllProductorder"  parameterType="Map" resultType = "Map">
		select productId,productName,num,crateTime ,SUM( IF( productName =productName, num, 0 ) ) AS totalPrice
		from productorder
		<where>
			crateTime like CONCAT('%', #{data ,jdbcType=VARCHAR}, '%')
			and  isDel = 0
		</where>
		GROUP BY productName
	</select>
	
	
	
</mapper>